.social-icon i {
	font-size: 30px;
}
a:not(.social-icon) {
	color: inherit !important;
}
a.nav-link {
	color: white !important;
}
.pokemon-item {
	cursor: pointer;
}
.pokemon-item:hover,
.pokemon-item:active {
	background-color: rgba(41, 139, 16, 0.3);
}
.btn-pag {
	width: 125px !important;
}
@media (max-width: 300px) {
	.current-img {
		width: 150px !important;
	}
}
